langchain_openai
langchain-core
python-dotenv
streamlit
google-generativeai
langchain_google_genai
langserve
fastapi
uvicorn
langchain_community
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchain
langchain_community
langchain_openai
langchain_groq
python-dotenv
streamlit
langchain_experimental
lamini

youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub